.col-md-4 ,
.col-md-offset-4 ,
.col-sm-6 ,
.col-sm-offset-3 {
    padding-left: 0px;
}

@media screen and (max-width: 1140px){
    body{
        background-color: gray;
    }
}

@media screen and (min-width: 1141px){
    body{
        background: url('./../images/background.jpg');
        background-size: cover;
    }

    .desc p{
        background-color: rgba(0,0,0,0.3);
    }
}

body {
    background-repeat: no-repeat;
    font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial';
}

#main {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform:  translateY(-50%);
    -ms-transform:  translateY(-50%);
    -o-transform:  translateY(-50%);
    transform:  translateY(-50%);
}
.header p {
    text-align: center;
}
.header p>img {
    width: 110px;
    height: 110px;
    border: 3px solid #fff;
}
.title {
    margin: 0 0 5px 0;
    font-size: 2.5em;
    letter-spacing: 4px;
    color: #FFF;
}

.title h1 {
    text-align: center;
}

.title h1 a {
    color: #FFFFFF;
}


.title h1 a:hover {
    color: #e3e3e3;
    text-decoration: none;

}

.splitline_50 {
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}

.splitline_25 {
    width: 25%;
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}

.splitline_75 {
    width: 75%;
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.desc {
    font-family: "";
}
.desc p {
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.sns p {
    text-align: center;
}
.sns i{
    padding-right: 10px;
}

.sns a {
    color: #FFFFFF;
}
.sns a:hover {
    color: #e3e3e3;
    text-decoration: none;

}
.copyright p {
    text-align: center;
    color: #e3e3e3;
}

.icon-heart{
    color: #d32;
}

.links p {
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
}
.links p a {
    color: #FFFFFF;
    border: 1px #FFF;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;
    margin-right: 10px;
}
.links p a:hover {
    color: #e3e3e3;
    text-decoration: none;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}



