.wechat, .github, .mail, .heart{
	background: url(sprites.png) no-repeat;
}

.wechat{
	background-position: -8px -5px ;
	width: 48px;
	height: 48px;
}

.github{
	background-position: -60px -6px ;
	width: 48px;
	height: 48px;
}

.mail{
	background-position: -111px -7px ;
	width: 48px;
	height: 48px;
}

.heart{
	background-position: -62px -55px ;
	width: 48px;
	height: 48px;
}

